.wrapper {
  position: relative;
  width: 200px;
  height: 250px;
  border: 2px solid #dc042c;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden; /* Prevent overflow */
}

  .start {
    margin: 100px;
    border-radius: 7px;
    border: 0px;
    padding: 10px;
    font-size: 1.2em;
    font-family: "Courier New", Courier, monospace;
  }
  